<form method="POST" enctype="multipart/form-data" action=''>
	<label for="name">Name:</label>
	{{#if category}}
		<input id="name" type="text" name="name" value="{{category.name}}">
	{{else}}
		<input id="name" type="text" name="name" placeholder="Enter a name">
	{{/if}}
	<input type="file" name="file">
	<button type="submit">Submit</button>
</form>
{{#if errors}}
	<ul>
		{{#each errors}}
			<li>{{this.msg}}</li>
		{{/each}}
	</ul>
{{/if}}