<!DOCTYPE html>
<html>
  <head>
    <title>Pmoney's Living Goods</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>{{title}}</h1>
    {{{body}}}
    <a href="./../">Go Back</a>
  </body>
</html>
