<!DOCTYPE html>
<html>
  <head>
    <title>Pmoney's Living Goods</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1 id="banner">PMONEY'$ LIVING GOODS</h1>
  	<h1>{{title}}</h1>
    {{{body}}}
    <a href="./../">Go Back</a>
  </body>
</html>
