body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: yellowgreen;
  display: grid;
}

a {
  color: mediumblue;
}

#banner {
  grid-row-start: 1;
  grid-row-end: 3;
  font-family: 'Righteous', cursive;
  font-size: 300%;
}